# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Slicer.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\H3VR\Slicer\.idea\.idea.Slicer\.idea/dataSources/
/dataSources.local.xml
